<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eoutlet.Eoutlet"
    android:targetSandboxVersion="1"
    >
    <queries>
        <package android:name="com.whatsapp" />
    </queries>
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".AFApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon_new2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/launcherround"
        android:supportsRtl="false"
        android:theme="@style/MyMaterialTheme"
        android:usesCleartextTraffic="true"

        tools:replace="android:supportsRtl,icon,roundIcon,theme">

        <activity
            android:name=".activities.CategorySelectionActivity"
            android:label="@string/title_activity_category_selection"
            android:theme="@style/MyMaterialTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.WelcomeScreen"
            android:label="@string/title_activity_welcome_screen"></activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <!-- <meta-data
             android:name="com.google.android.geo.API_KEY"
             android:value="AIzaSyBr9wtaoErIx8aZo-Xqy8jMq16muLCLsqk" />
 -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDBfKVOx5k6qGpWO2ZyeVPP8Rnpb1RLjyo" />

        <activity
            android:name=".activities.OrderPaymentWebViewActivity"
            android:label="@string/title_activity_order_payment_web_view"
            android:theme="@style/MyMaterialTheme.NoActionBar" />
        <activity
            android:name=".PaymentGateway.WalletAddActivty"
            android:background="@android:color/white"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />


        <!-- <service android:name="com.moengage.firebase.MoEFireBaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>-->

        <service android:name=".services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="my_channel_01" />

        <activity
            android:name=".activities.ThankyouActivity"
            android:label="@string/title_activity_thankyou"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme.NoActionBar" />
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter android:autoVerify="true">

                <!-- <category android:name="android.intent.category.HOME" /> -->

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="eoutlet.com"
                    android:scheme="https" />
            </intent-filter>

        </activity>
        <activity
            android:name=".PaymentGateway.PaymentActivity"
            android:background="@android:color/white"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"

            android:screenOrientation="portrait"
            android:launchMode="singleTask">

            <!-- //android:launchMode="singleInstance" -->
            <intent-filter android:autoVerify="true">

                <!-- <category android:name="android.intent.category.HOME" /> -->

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="eoutlet.onelink.me"
                    android:scheme="https" />
                <!--                <data-->
                <!--                    android:host="example.com"-->
                <!--                    android:scheme="http" />-->
            </intent-filter>
            <intent-filter
                android:label="@string/app_name"
                android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="upgrade.eoutlet.com" />
            </intent-filter>


        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>


    </application>

</manifest>
